div.tabcontent#destinations-page
    #destination-posters
      each article, key in dbEntries
        .destination-item
          span.preview-tag #{article.place}
          - var previewUrls = DestPreviews.filter(img => img.indexOf(key) > -1); 
          a(href=`destinations/${key}`)
            .listView-text
              .title #{article.title}
              .author #{article.author}
              - var snippetText = article.bodyText[0].substring(0, 200)
              p #{snippetText} (+)
    .cancellation-series
      - var cancellations = GCATGImages.filter(img => img.indexOf('CANCEL_FLIGHTS') > -1);     
      each item in cancellations
        img(src=item)

    script(type='text/javascript', src='/scripts/destinations.js')
