html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Arts Travel, Global Arts, Travel Agency, Contemporary Art Tours')
    meta(name='og:url', content="http://www.global_art-travel.art/")
    meta(name='og:type', content="agency")
    meta(name='og:title', content=typeof(title) !== 'Global Contemporary Art Tours Group, Inc' ? title : "Global Contemporary Art Tours Group, Inc")
    meta(name='og:image', content="")
    meta(name='og:description', content="Your Flight Is Cancelled is a new e-flux project conceived by Julieta Aranda and Anton Vidokle.")

    link(rel='shortcut icon', href='./images/Symbols/Place selection.png', type='image/x-icon') 
    link(rel='stylesheet', href='../../styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title Global Art Tours
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  
  body#projectPage
    header.logo-wrapper.desktop 
        a(href="/") 
            img(src="../icons/GCATG-3-Light Blue.svg")
    header.logo-wrapper.mobile 
        a(href="/") 
            img(src="../icons/GCATG-3-Light Blue.svg")
    include ../partials/nav.pug
    .row
      //- .backDrop
      //-   img(src=visuals[0])
      //-   .backDropBlur(style="")
      #scatterPlot
        each url in visuals
          img(src=url)
      #backDrop
        #ovalGlow
      //- #image-wrapper
        //- span.locationTag #{ article.place}
        //- each url in visuals
        //-   img(src=url)
      #text-wrapper
        .metatag 
          - var parsedDate = new Date(article.publish_date)
          .date-tag #{parsedDate}
          .full-location-tag #{article.place_long}
        header 
          .title #{article.title}
          .author #{article.author}
        - var counter = 0; 
        each para, index in article.bodyText
          if index%2 == 0 && visuals[counter] 
            .image-wrapper
              img(src=visuals[counter])
            .hide=counter++
          p #{para} 
      script.
        var parsedUrls = !{JSON.stringify(visuals)}
        //- $('#scatterPlot').css('background-image', 'url(' + parsedUrls[0] + ')');

      script(type='text/javascript', src='/scripts/project.js')

    
